.emoji-animate {
    color: red; /* Cambia el color de la "X" */
    font-size: 40px; /* Ajusta el tamaño del emoji */
    line-height: 1; /* Elimina espacios adicionales */
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
  }